extends baseEmail

block content
    p Cura Registraton Request
    p  Please use the OTP code #{otp} to complete your registration.
    p If you are not responsible for this action, please ignore this email